## Import Libraries

In [1]:
import pandas as pd
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader

## Import Data

In [2]:
df = pd.read_csv('./100_Unique_QA_Dataset.csv')

df.head()

                                          question      answer
0                   What is the capital of France?       Paris
1                  What is the capital of Germany?      Berlin
2               Who wrote 'To Kill a Mockingbird'?  Harper-Lee
3  What is the largest planet in our solar system?     Jupiter
4   What is the boiling point of water in Celsius?         100

In [3]:
df.shape

(90, 2)

## Data Processing

### Tokenize

In [4]:
def tokenize(text):
  text = text.lower()
  text = text.replace("?", "")
  text = text.replace("'", "")
  return text.split()

In [5]:
tokenize(df.iloc[2, 0])

['who', 'wrote', 'to', 'kill', 'a', 'mockingbird']

### Vocab

In [6]:
vocab = {'UNK': 0}                # unknown words

In [7]:
def build_vocab(row):
  tokenized_question = tokenize(row['question'])
  tokenized_answer = tokenize(row['answer'])

  merged_token = tokenized_question + tokenized_answer

  for token in merged_token:
    if token not in vocab:
      vocab[token] = len(vocab)

In [8]:
df.apply(build_vocab, axis=1)

0     None
1     None
2     None
3     None
4     None
      ...
85    None
86    None
87    None
88    None
89    None
Length: 90, dtype: object

In [9]:
print(f'vocab size: {len(vocab)}')
vocab

vocab size: 324

{'UNK': 0,
 'what': 1,
 'is': 2,
 'the': 3,
 'capital': 4,
 'of': 5,
 'france': 6,
 'paris': 7,
 'germany': 8,
 'berlin': 9,
 'who': 10,
 'wrote': 11,
 'to': 12,
 'kill': 13,
 'a': 14,
 'mockingbird': 15,
 'harper-lee': 16,
 'largest': 17,
 'planet': 18,
 'in': 19,
 'our': 20,
 'solar': 21,
 'system': 22,
 'jupiter': 23,
 'boiling': 24,
 'point': 25,
 'water': 26,
 'celsius': 27,
 '100': 28,
 'painted': 29,
 'mona': 30,
 'lisa': 31,
 'leonardo-da-vinci': 32,
 'square': 33,
 'root': 34,
 '64': 35,
 '8': 36,
 'chemical': 37,
 'symbol': 38,
 'for': 39,
 'gold': 40,
 'au': 41,
 'which': 42,
 'year': 43,
 'did': 44,
 'world': 45,
 'war': 46,
 'ii': 47,
 'end': 48,
 '1945': 49,
 'longest': 50,
 'river': 51,
 'nile': 52,
 'japan': 53,
 'tokyo': 54,
 'developed': 55,
 'theory': 56,
 'relativity': 57,
 'albert-einstein': 58,
 'freezing': 59,
 'fahrenheit': 60,
 '32': 61,
 'known': 62,
 'as': 63,
 'red': 64,
 'mars': 65,
 'author': 66,
 '1984': 67,
 'george-orwell': 68,
 'currency': 69,
 'united': 70,
 'kingdom': 71,
 'pound': 72,
 'india': 73,
 'delhi': 74,
 'discovered': 75,
 'gravity': 76,
 'newton': 77,
 'how': 78,
 'many': 79,
 'continents': 80,
 'are': 81,
 'there': 82,
 'on': 83,
 'earth': 84,
 '7': 85,
 'gas': 86,
 'do': 87,
 'plants': 88,
 'use': 89,
 'photosynthesis': 90,
 'co2': 91,
 'smallest': 92,
 'prime': 93,
 'number': 94,
 '2': 95,
 'invented': 96,
 'telephone': 97,
 'alexander-graham-bell': 98,
 'australia': 99,
 'canberra': 100,
 'ocean': 101,
 'pacific-ocean': 102,
 'speed': 103,
 'light': 104,
 'vacuum': 105,
 '299,792,458m/s': 106,
 'language': 107,
 'spoken': 108,
 'brazil': 109,
 'portuguese': 110,
 'penicillin': 111,
 'alexander-fleming': 112,
 'canada': 113,
 'ottawa': 114,
 'mammal': 115,
 'whale': 116,
 'element': 117,
 'has': 118,
 'atomic': 119,
 '1': 120,
 'hydrogen': 121,
 'tallest': 122,
 'mountain': 123,
 'everest': 124,
 'city': 125,
 'big': 126,
 'apple': 127,
 'newyork': 128,
 'planets': 129,
 'starry': 130,
 'night': 131,
 'vangogh': 132,
 'formula': 133,
 'h2o': 134,
 'italy': 135,
 'rome': 136,
 'country': 137,
 'famous': 138,
 'sushi': 139,
 'was': 140,
 'first': 141,
 'person': 142,
 'step': 143,
 'moon': 144,
 'armstrong': 145,
 'main': 146,
 'ingredient': 147,
 'guacamole': 148,
 'avocado': 149,
 'sides': 150,
 'does': 151,
 'hexagon': 152,
 'have': 153,
 '6': 154,
 'china': 155,
 'yuan': 156,
 'pride': 157,
 'and': 158,
 'prejudice': 159,
 'jane-austen': 160,
 'iron': 161,
 'fe': 162,
 'hardest': 163,
 'natural': 164,
 'substance': 165,
 'diamond': 166,
 'continent': 167,
 'by': 168,
 'area': 169,
 'asia': 170,
 'president': 171,
 'states': 172,
 'george-washington': 173,
 'bird': 174,
 'its': 175,
 'ability': 176,
 'mimic': 177,
 'sounds': 178,
 'parrot': 179,
 'longest-running': 180,
 'animated': 181,
 'tv': 182,
 'show': 183,
 'simpsons': 184,
 'vaticancity': 185,
 'most': 186,
 'moons': 187,
 'saturn': 188,
 'romeo': 189,
 'juliet': 190,
 'shakespeare': 191,
 'earths': 192,
 'atmosphere': 193,
 'nitrogen': 194,
 'bones': 195,
 'adult': 196,
 'human': 197,
 'body': 198,
 '206': 199,
 'metal': 200,
 'liquid': 201,
 'at': 202,
 'room': 203,
 'temperature': 204,
 'mercury': 205,
 'russia': 206,
 'moscow': 207,
 'electricity': 208,
 'benjamin-franklin': 209,
 'second-largest': 210,
 'land': 211,
 'color': 212,
 'ripe': 213,
 'banana': 214,
 'yellow': 215,
 'month': 216,
 '28': 217,
 'days': 218,
 'common': 219,
 'february': 220,
 'study': 221,
 'living': 222,
 'organisms': 223,
 'called': 224,
 'biology': 225,
 'home': 226,
 'great': 227,
 'wall': 228,
 'bees': 229,
 'collect': 230,
 'from': 231,
 'flowers': 232,
 'nectar': 233,
 'opposite': 234,
 'day': 235,
 'south': 236,
 'korea': 237,
 'seoul': 238,
 'bulb': 239,
 'edison': 240,
 'humans': 241,
 'breathe': 242,
 'survival': 243,
 'oxygen': 244,
 '144': 245,
 '12': 246,
 'pyramids': 247,
 'giza': 248,
 'egypt': 249,
 'sea': 250,
 'creature': 251,
 'eight': 252,
 'arms': 253,
 'octopus': 254,
 'holiday': 255,
 'celebrated': 256,
 'december': 257,
 '25': 258,
 'christmas': 259,
 'yen': 260,
 'legs': 261,
 'spider': 262,
 'sport': 263,
 'uses': 264,
 'net,': 265,
 'ball,': 266,
 'hoop': 267,
 'basketball': 268,
 'kangaroos': 269,
 'female': 270,
 'minister': 271,
 'uk': 272,
 'margaretthatcher': 273,
 'fastest': 274,
 'animal': 275,
 'cheetah': 276,
 'periodic': 277,
 'table': 278,
 'spain': 279,
 'madrid': 280,
 'closest': 281,
 'sun': 282,
 'father': 283,
 'computers': 284,
 'charlesbabbage': 285,
 'mexico': 286,
 'mexicocity': 287,
 'colors': 288,
 'rainbow': 289,
 'musical': 290,
 'instrument': 291,
 'black': 292,
 'white': 293,
 'keys': 294,
 'piano': 295,
 'americas': 296,
 '1492': 297,
 'christophercolumbus': 298,
 'disney': 299,
 'character': 300,
 'long': 301,
 'nose': 302,
 'grows': 303,
 'it': 304,
 'when': 305,
 'lying': 306,
 'pinocchio': 307,
 'directed': 308,
 'movie': 309,
 'titanic': 310,
 'jamescameron': 311,
 'superhero': 312,
 'also': 313,
 'dark': 314,
 'knight': 315,
 'batman': 316,
 'brasilia': 317,
 'fruit': 318,
 'king': 319,
 'fruits': 320,
 'mango': 321,
 'eiffel': 322,
 'tower': 323}

### Convert words to numerical indices

In [10]:
def text_to_indices(text, vocab):
  indexed_text = []

  for token in tokenize(text):
    if token in vocab:
      indexed_text.append(vocab[token])
    else:
      indexed_text.append(vocab['UNK'])
  
  return indexed_text

In [11]:
text_to_indices('Who are you?', vocab)

[10, 81, 0]

## DataLoader

In [12]:
class QADataset(Dataset):

  def __init__(self, df, vocab):
    self.df = df
    self.vocab = vocab

  def __len__(self):
    return self.df.shape[0]
  
  def __getitem__(self, idx):
    numerical_qs = text_to_indices(self.df.iloc[idx]['question'], self.vocab)
    numerical_ans = text_to_indices(self.df.iloc[idx]['answer'], self.vocab)
    return torch.tensor(numerical_qs), torch.tensor(numerical_ans)

In [13]:
dataset = QADataset(df, vocab)
dataset[10]

(tensor([ 1,  2,  3,  4,  5, 53]), tensor([54]))

In [14]:
dataLoader = DataLoader(dataset, batch_size=1, shuffle=True)

## Model Definition

In [15]:
class SimpleRNN(nn.Module):

  def __init__(self, vocab_size):
    super().__init__()
    # Cannot use nn.Sequential because RNN returns both output sequence and hidden state and we need to handle them explicitly for the next layer or loss calculation
    self.embedding = nn.Embedding(vocab_size, embedding_dim=50)
    self.rnn = nn.RNN(50, 64, batch_first=True)
    self.fc = nn.Linear(64, vocab_size)

  def forward(self, qs):
    embedded_qs = self.embedding(qs)
    hidden, final = self.rnn(embedded_qs)
    output = self.fc(final.squeeze(0))
    return output

In [16]:
model = SimpleRNN(len(vocab))

## Training Pipeline

In [17]:
learning_rate = 0.001
epochs = 20

criterian = nn.CrossEntropyLoss()
optimizer = optim.Adam(model.parameters(), lr=learning_rate)

In [18]:
def training(epochs, model, loader):
  model.train()
  for epoch in range(epochs):
    total_loss =0
    for question, answer in loader:
      output = model(question)
      loss = criterian(output, answer[0])
      optimizer.zero_grad()
      loss.backward()
      optimizer.step()

      total_loss += loss
    print(f'Epoch: {epoch+1} , Loss: {total_loss}')

In [19]:
training(epochs, model, dataLoader)

Epoch: 1 , Loss: 526.1122436523438
Epoch: 2 , Loss: 457.6596984863281
Epoch: 3 , Loss: 378.3297119140625
Epoch: 4 , Loss: 315.1127014160156
Epoch: 5 , Loss: 263.1197204589844
Epoch: 6 , Loss: 215.76986694335938
Epoch: 7 , Loss: 170.84909057617188
Epoch: 8 , Loss: 132.55682373046875
Epoch: 9 , Loss: 101.74592590332031
Epoch: 10 , Loss: 77.45215606689453
Epoch: 11 , Loss: 59.806549072265625
Epoch: 12 , Loss: 46.690677642822266
Epoch: 13 , Loss: 37.24738693237305
Epoch: 14 , Loss: 30.244945526123047
Epoch: 15 , Loss: 24.88571548461914
Epoch: 16 , Loss: 21.04729461669922
Epoch: 17 , Loss: 17.672645568847656
Epoch: 18 , Loss: 15.215731620788574
Epoch: 19 , Loss: 13.043421745300293
Epoch: 20 , Loss: 11.179683685302734

## Testing

In [20]:
def predict(model, qs, threshold=0.5):
  numerical_qs = text_to_indices(qs, vocab)
  qs_tensor = torch.tensor(numerical_qs).unsqueeze(0)
  output = model(qs_tensor)                            # output as 324 logits
  probs = nn.functional.softmax(output, dim=1)         # convert logits to probs
  value, idx = torch.max(probs, dim=1)

  if(value >= threshold and idx != 0):
    print(list(vocab.keys())[idx])
  else:
    print('Sorry! I do not know the answer to this question')

In [21]:
qs = 'capital of france'

predict(model, qs)

paris

## Summary

In [22]:
from torchinfo import summary

summary(model, input_size=(1, 6), dtypes=[torch.long])    # input size parameter

==========================================================================================
Layer (type:depth-idx)                   Output Shape              Param #
==========================================================================================
SimpleRNN                                [1, 324]                  --
├─Embedding: 1-1                         [1, 6, 50]                16,200
├─RNN: 1-2                               [1, 6, 64]                7,424
├─Linear: 1-3                            [1, 324]                  21,060
==========================================================================================
Total params: 44,684
Trainable params: 44,684
Non-trainable params: 0
Total mult-adds (Units.MEGABYTES): 0.08
==========================================================================================
Input size (MB): 0.00
Forward/backward pass size (MB): 0.01
Params size (MB): 0.18
Estimated Total Size (MB): 0.19
==========================================================================================